mixin radio(id, price, text, stock, checked)
  +b.radio
    +e.INPUT.field.visually-hidden(id=id, type="radio", name="count-products", checked=checked)
    +e.LABEL.label(for=id)
      +e.SPAN.text= text
      if stock
        +e.SPAN.stock= stock
