.burger {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  z-index: 5;

  &:hover {
    & .burger__line {
      background-color: teal;
    }
  }

  @media (max-width: 576px) {
    display: block;
  }
}

.burger__anim {
  & .burger__line:nth-child(1) {
    animation: close-top-line 0.3s forwards;
  }

  & .burger__line:nth-child(2) {
    animation: close-mid-line 0.3s forwards;
  }

  & .burger__line:nth-child(3) {
    animation: close-bottom-line 0.3s forwards;
  }

  &--open {
    & .burger__line:nth-child(1) {
      animation: open-top-line 0.3s forwards;
    }

    & .burger__line:nth-child(2) {
      animation: open-mid-line 0.3s forwards;
    }

    & .burger__line:nth-child(3) {
      animation: open-bottom-line 0.3s forwards;
    }
  }
}

.burger__line {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: calc(100% - 20px);
  height: 4px;
  background-color: black;
  transition: background-color 0.3s;

  &:nth-child(1) {
    transform: translateY(-8px);
  }

  &:nth-child(2) {
    opacity: 1;
  }

  &:nth-child(3) {
    transform: translateY(8px);
  }
}

@keyframes open-top-line {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes close-top-line {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes open-bottom-line {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes close-bottom-line {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes open-mid-line {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes close-mid-line {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
