mixin btn(type, text, className, listener, loader)
  +b.BUTTON(type=type, class='btn ' + className, x-on:click=listener)
    +e.SPAN.text #{text}
    if loader
      +icon('loader')(width="32", height="32", class="loader")
