include ../../components/input/input
include ../../components/checkbox/checkbox

mixin icon(iconName)
  svg&attributes(attributes)
    use(xlink:href=`img/sprite.svg#icon_${iconName}`)

mixin picture(img, alt, type)
  picture
    source(type="image/webp" srcset="img/" + img + "@2x.webp 2x,  img/" + img + ".webp 1x")/
    source(srcset="img/" + img + "@2x." + type + " 2x,  img/" + img + "." + type + " 1x")/
    img(src="img/" + img + "." + type + "" alt= alt)
