include ../mixins/mixins
include externalIncludes

block variables
  - var pageTitle = 'main'

doctype html
html(lang="ru")
  include ./head

  body
    block content


    block scripts
      include ./scripts
