+b.FORM.form(action='', method="POST", x-data="formData()" x-on:submit.prevent="onSubmitForm")
  +e.inner.--main(x-show.transition.opacity.in.duration.1000ms="state === 'default'", x-cloak)
    +e.wrapper.js-simplebar
      +e.header
        +e.item
          +e.H2.title Info
          +input('Enter your email address')(name="email", type="email", placeholder="team@checkforpatent.com", x-model="email")
      +e.products
        template(x-for="(item, index) in products" x-bind:key="index")
          +e.item
            +e.H2.title
              +e.SPAN.title-text(x-text="'Product ' + (index + 1)")
              +e.BUTTON.delete-btn(aria-label="delete product", type="button", x-on:click="deleteProduct(index)", x-bind:disabled="sending")
                +icon('plus')(width='13', height='13')
            +input('Enter main keyword for the product')(x-bind:name=("item.id + '-keyword'"), x-bind:id=("item.id + '-keyword'") type='text', placeholder='for example, sylicon wine cup', x-model="item.keywordValue")
            +input('Enter link to the similar product as a reference')(x-bind:name=("item.id + '-link'"), x-bind:id=("item.id + '-link'") type='text', placeholder='https://...', x-model="item.linkValue")
      +e.more-products
        +e.BUTTON.add-more(type="button", x-on:click="addProduct", x-bind:disabled="sending")
          +e.SPAN.add-more-text Add more products
          +icon('plus')(width="13", height="13")
        +e.more-products-text We offer discount up to 36% for multiple checks
    +e.footer
      +btn('`Submit and Pay ${price} USD`', true)(class="btn", type="submit", x-on:click.prevent="onSubmitForm", x-bind:class="{'btn--loader': sending}")
      +e.SPAN.secure-payment-text
        +icon('secure')(width="9", height="13",)
        | Secure payment with Stripe

  +e.inner.--add-product(x-show.transition.opacity.in.duration.1000ms="state === 'add-product'" x-cloak)
    +e.H2.title Adding more products
    +e.P.text The more items you check, the better the price.
    +e.wrapper.js-simplebar
      +e.add-product-inner
        +radio('5-products', 5, '80', '5 products for 80 usd / 16$ for each', 'You safe 36% on each patent check')
        +radio('4-products', 4, '72', '4 products for 72 usd / 18$ for each', 'You safe 28% on each patent check')
        +radio('3-products', 3, '60', '3 products for 60 usd / 20$ for each', 'You safe 20% on each patent check')
        +radio('2-products', 2, '44', '2 products for 44 usd / 22$ for each', 'You safe 12% on each patent check')
        +radio('1-product', 1, '24.99', '1 product for 24.99 usd')
    +e.footer
      +btn('"Continue"', false)(class="btn", type="button", x-on:click="selectProductCount")

  +e.inner.--success-payment(x-show.transition.opacity.in.duration.1000ms="state === 'success-payment'" x-cloak)
    +e.H2.title Successfull payment
    +e.P.text Your request has been accepted and will be processed within 24 working hours. We will send you a payment details and all information to your email.
    +e.wrapper.--success-payment
    +e.footer
      +btn('"Back"', false)(class="btn", type="button", x-on:click="backToMainFormSuccess")

  +e.inner.--error-payment(x-show.transition.opacity.in.duration.1000ms="state === 'error-payment'" x-cloak)
    +e.H2.title Your payment failed
    +e.P.text Sorry, but we’ve having trouble processing your payment. You have been not charged for this transaction.
    +e.wrapper.--error-payment
    +e.footer
      +btn('"Try to pay again"', false)(class="btn btn--secondary", type="button", x-on:click="backToMainFormError")


