@include font('Gilroy', GilroyRegular, 400);
@include font('Gilroy', GilroyMedium, 500);
@include font('Gilroy', GilroySemibold, 600);
@include font('Gilroy', GilroyBold, 700);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #e5e5e5;
  color: $text-black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1336px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include min($md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include min($xl) {
    padding-left: 141px;
    padding-right: 141px;
  }

  &--form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;

    @include min($sm) {
      justify-content: flex-end;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include min($md) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include min($xl) {
      padding-left: 141px;
      padding-right: 141px;
    }
  }
}

.simplebar-track {
  right: 0;
  background-color: #e1e3ee;
  border-radius: 5px;

  @include min($sm) {
    right: -20px;
  }
}

.simplebar-track.simplebar-vertical {
  width: 4px;
}

.simplebar-scrollbar {
  background-color: $accent;
  border-radius: 5px;
}

.simplebar-scrollbar::before {
  background-color: transparent;
}
